.tarefas {
  margin-top: 30px;
}

.tarefas li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: all 600ms;
}

.tarefas li:hover {
  background-color: #e0e0e0;
}

.tarefas li .edit {
  margin-right: 15px;
  color: rgb(136, 133, 133)
}

.tarefas li .delete {
  margin-right: 15px;
  color: rgb(194, 51, 51)
}



.tarefas li .delete,
.tarefas li .edit {
  cursor: pointer;
}